@using Components
<h3>Acme Config Page</h3>

Welcome to Acme.

<p>Acme Specific Property: @(AcmeAppState != null ? AcmeAppState.AcmeAppConfigPageStateText : "AcmeAppState is not initialized")</p>


@code {

    [CascadingParameter]
    public CascadingAppState AppState { get; set; }

    [CascadingParameter]
    public AcmeAppState AcmeAppState { get; set; }

    protected override void OnInitialized()
    {
        if (AcmeAppState == null)
        {
            AcmeAppState = new AcmeAppState();
        }
    }

}
